# Compiled class file
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Basic IDE Settings
/.idea
/idea
.idea

/settings
/.settings
.settings

.idea/vcs.xml
.idea/workspace.xml

# Logging
*.log
*.logs
*.lck
*.log.*
/SHJLogs
SHJLogs/
./SHJLogs
SHJLogs
SHJLogs/
/logs
/log
./logs
./log

/logs/*
/log/*
./logs/*
./log/*


*.classpath
.classpath

# Output
/build
/out
/.gradle
/gradle

/eclipse
.eclipse
.metadata
/metadata
/bin/

# Tests
/src/test/java/com/mockomatik/a/democode/*
/src/test/java/com/mockomatik/a/democode/
/src/test/java/com/mockomatik/a/*
/src/test/java/com/mockomatik/a/

/src/main/java/com/mockomatik/a/democode/*
/src/main/java/com/mockomatik/a/democode/
/src/main/java/com/mockomatik/a/*
/src/main/java/com/mockomatik/a/

